@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --background: rgb(10, 63, 77);
	--primary-blue: #625BFE;
	--secondary-blue: #4bd7e3;
	--text-color: #dbe9cc;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background);
    padding: 64px;
	font-family: Mulish;
    color: var(--text-color);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(jaisalmer-back.jpg)
    
   

}

.progress__wrapper {
	position: fixed;
	top: 0;
	left: 0;
    z-index: 100;
	width: 100%;
	height: 10px;
	background-color: transparent;
}

.progress__bar {
	display: block;
	width: 0;
	height: inherit;
	background: linear-gradient(
        90deg,
        #2921ae 0%, 
		#667909 16.15%, 
		#0c9497 33.85%, 
		#eeaeca 50.52%,
	    #fcb045 66.15%, 
		var(--secondary-blue) 81.25%, 
		var(--primary-blue) 100%
	);
}

.article__content {
    max-width: 600px;
    margin: auto;
    display: flex;
    gap: 32px;
    flex-direction: column;
    background-color: rgb(5, 59, 55);
    padding: 15px;
    
}

.article__content p {
	line-height: 1.5;
}

.article__content h1 {
	font-weight: 700;
    margin: 0;
	
    font-size: 38px;
}


 /* Add CSS styles for responsiveness */
    /* Adjustments for small screens */
    @media only screen and (max-width: 600px) {
		/* Place any necessary CSS styles for small screens here */
	  }
	  
	  /* Adjustments for medium screens */
	  @media only screen and (min-width: 601px) and (max-width: 1024px) {
		/* Place any necessary CSS styles for medium screens here */
	  }
	  
	  /* Adjustments for large screens */
	  @media only screen and (min-width: 1025px) {
		/* Place any necessary CSS styles for large screens here */
	  }
	  /*Ye Code Slow Transition karta ha hahah*/
	  body{
		animation: transitionIn 0.75s
		}
		@keyframes transitionIn{
		from {
		opacity:0;
		transform: rotateX-10deg
		}
		to {
		opacity: 1;
		transform: (0);
		}
		}


		/*CHECKBOX*/
		label{
			position: relative;
			width: 40px;
			height: 20px;
			
			cursor: pointer;
			
		}
		label input{
			position: relative;
			z-index:1;
			appearance: none;
			
		
		}
		label span{
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background: rgb(22, 131, 158);
			border-radius: 20px;
			transition: 0.5s;
			box-shadow: 0 10px 20px rgb(139, 74, 0);
		}
		label input:checked ~ span{
			background: rgb(46, 155, 46);
			box-shadow: 0 10px 20px rgb(36, 83, 36);
		}
		label span i{
			position: absolute;
			top:3px;
			bottom:4px;
			width: 15px;
			height: 15px;
			background: rgb(212, 201, 201);
			border-radius: 50%;
			transition:0.5s;
			left: 1.5px;
		}
		label input:checked ~span i{
			left: 22px;
		}
		/*Footer BUtton*/
		.footer-button {
			display: block;
			width: 100%;
			text-align: center;
			margin-top: 40px;
		  }
	  
		  .footer-button a {
			display: inline-block;
			padding: 10px 20px;
			background-color: #000;
			color: #fff;
			text-decoration: none;
			border-radius: 4px;
			transition: background-color 0.3s ease;
		  }
	  
		  .footer-button a:hover {
			background-color: #333;
		  }
		